.cameraImg {
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(1) opacity(0.9);
}

.play-card img {
    max-width: 90%;
    max-width: 90%;
    padding:5%;
}

/* iOS only */
.play-init {
	/*padding-top: 20px;*/
}

.sub-menu {
	position: fixed;
	left:0px;
	bottom: 51px;
	height: 45px;
	width: 100%;
	background-color: #594848;
	border-top: 1px solid #d3d3d3;
}

	.sub-menu .subs {
		margin-top: 20px;
		width: 100%;
	}

		.sub-menu .subs a {
			float:left;
		}

.subs {
}
	.subs a {
		color:white;
	}

.subs-slider ul {
	margin:0;
	padding:0;
	white-space:nowrap;
	width:100%;
	overflow-x:auto;
}

.subs-slider ul li {
	display:inline;
	height:30px;
	width:30px;
}

.play-tabbar {
	background-color:#594848!important;
}

.play-tabs a {
	color:white;
}

.play-header {
	background-color:#594848;
}

.dynamic {
    width: 512px;
    height: 512px;
}