<div id='header' style='display:none;'>
    <a href='#' onclick="window.location.href='index.html'" class='play-left'>Back</a>
    <h1>Hipstagram - Editor</h1>
    <a href="javascript:void(0)" class='play-right' onclick="hipsta.editor.save()">Save</a>
</div>

<canvas id='myCanvas' style="display:none;"></canvas>
<div class="imgWrapper" id="imgWrapper">
    <img id='myImage'>
</div>
<div class="sub-menu" id="filters">
    <div class="subs">
        <ul class="subs-slider">         
            <li>
                <a href="javascript:void(0)" onclick="hipsta.editor.setFilter('sepia', '1')">
                    <img src="http://placehold.it/30x30" alt="Sepia" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="hipsta.editor.setFilter('invert', '1')">
                    <img src="http://placehold.it/30x30" alt="Invert" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="hipsta.editor.setFilter('grayscale', '1')">
                    <img src="http://placehold.it/30x30" alt="Greyscale" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="hipsta.editor.setFilter('blur', '3px')">
                    <img src="http://placehold.it/30x30" alt="Blur" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="hipsta.editor.setFilter('none', '1')">
                    <img src="http://placehold.it/30x30" alt="Reset" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div id='tabs' style='display:none'>       
    <a href="javascript:void(0)" onclick="hipsta.editor.spawnMustache('snor')">
        Spawn mustache
    </a>
</div>